<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :photos %>
    <%= form.file_field :photos, multiple: true, disabled: true %>
  </div>

  <div class="field">
    <strong>Features:</strong>
    <%= form.fields_for :features do |ff| %>
      <% property.features.each do |feature, status| %>
        <%= ff.label feature do %>
          <% s = status === "true" ? true : false %>
          <%= ff.check_box feature, {checked: s}, true, false %>
          <%= feature %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <strong>Rules:</strong>
    <%= form.fields_for :rules do |ff| %>
      <% property.rules.each do |rule, status| %>

        <%= ff.label rule do %>
          <%= ff.check_box rule, {checked: status == "true" ? true : false}, true, false %>
          <%= rule %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
