<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
    <span id="suggest_notice">Адрес не найден</span>
  </div>

  <div class="field">
    <%= form.hidden_field :latitude %>
    <%= form.hidden_field :longitude %>
  </div>

  <div class="field">
    <div id="property_map" style="width: 450px; height: 400px"></div>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :rooms %>
    <%= form.text_field :rooms %>
    <%= form.label :total_area %>
    <%= form.text_field :total_area %> м2
    <%= form.label :floor_number %>
    <%= form.text_field :floor_number %> /
    <%= form.label :total_floors %>
    <%= form.text_field :total_floors %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :photos %>
    <%= form.file_field :photos, multiple: true %>
  </div>

  <div class="field">
    <strong><%= I18n.t "features.label" %></strong>
    <%= form.fields_for :features do |ff| %>
      <% Property::FEATURES.each do |feature| %>
        <%= ff.label feature do %>
          <%= ff.check_box feature, {checked: property.features[feature]}, true, false %>
          <%= I18n.t "features.#{feature}" %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <strong><%= I18n.t "rules.label" %></strong>
    <%= form.fields_for :rules do |ff| %>
      <% Property::RULES.each do |rule| %>
        <%= ff.label rule do %>
          <%= ff.check_box rule, {checked: property.rules[rule] }, true, false %>
          <%= I18n.t "rules.#{rule}" %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
