<p id="notice"><%= notice %></p>

<h1><%= @property.title %></h1>

<p>
  <% @property.photos.each do |photo| %>
    <%= link_to photo, target: "_blank", class: "property-photo" do %>
      <%= image_tag photo, width: 300 %>
    <% end %>

  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Features:</strong><br/>
  <div class="inspect">
    <%= @property.inspect %>
  </div>
  <% @property.features.each do |feature, status| %>
    <div class="feature-item <%='crossed-out' unless status %>">
      <%= image_tag "#{feature}.png", width: 30 %>
      <span class="feature-text"><%= feature %></span>
    </div>
  <% end %>
</p>

<p>
  <strong>Rules:</strong><br/>
  <% @property.rules.each do |rule, status| %>
    <div class="rule-item <%='crossed-out' unless status %>">
      <%= image_tag "#{rule}.png", width: 30 %>
      <span class="rule-text"><%= rule %></span>
    </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
